<div class="flex flex-col justify-end"> 
  <div class="flex flex-row mt-10 mr-10 sm:justify-end justify-center items-end transition-all ease-in">
    <h2 class="font-bold sm:text-8xl text-6xl font-monoton sm:ml-0 ml-28 transition-all ease-in">Log in</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="flex flex-col items-center md:items-end items-center">
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "e-mail", class:"rounded-lg font-righteous text-lg md:mr-20 mt-8 mb-8" %>
      </div>

      <div class="field">
        <%= f.password_field :password, placeholder: "password", class:"rounded-lg font-righteous text-lg md:mr-20" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field flex flex-row gap-4 justify-evenly items-center m-2 p-1">
          <%= f.check_box :remember_me %>
          <div class="font-righteous mr-20 text-slate-50 lg:text-zinc-700 text-shadow lg:text-shadow-none text-xl">remember me</div>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:"btn-primary mr-20" %>
      </div>
    </div>
  <% end %>

  <div class="flex flex-col md:items-end items-center md:mr-12">
    <%= render "devise/shared/links" %>
  </div>
</div>